.banner .swiper {
  width: 240px;
  height: 320px;
}

.banner .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.banner .swiper-slide:nth-child(1n) {
  background-image: url('../assets/1137215.jpg');
}

.banner .swiper-slide:nth-child(2n) {
  background-image: url('../assets/11468377.jpg');
}

.banner .swiper-slide:nth-child(3n) {
  background-image: url('../assets/142296.jpg');
}

.banner .swiper-slide:nth-child(4n) {
  background-image: url('../assets/1618.jpg');
}

.banner .swiper-slide:nth-child(5n) {
  background-image: url('../assets/1713426.jpg');
}


